
.arrayContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.box {
  height: 50px; 
  width: 50px; 
  margin: 2px; 
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  transition: background-color 0.3s;
}

.hover {
  background-color: yellow; 
