

.arrayContainer {
  position:relative;
  height:300px;
  width:900px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  border:1px solid black;
  margin-top:100vh;
}

.box {
  height:200px;
  width:200px;
  border:1px solid black;
}

.overlay {
  position:absolute;
  height:200px;
  width:200px;
  /* border:5px solid green; */
  background:rgba(0,128,0,.3);
  /* transform: translateX(200%);
  transform: translateY(100%); */
  transform:translate(0,0);
  transition:translate 4s;
}

.overlay:hover {
   transform: translateX(200%); 

  /* transform:translate(200%,100%); */
}





* {
    border: 1px solid red;
}

body {

}

nav {
    background-color: rgb(47, 54, 61);
    width: 100vh;
}

.column-wrapper {
    /* display:  */
    background-color: rgb(255, 255, 255);
}

.left {

}

.right {

}