
 /* ********************MAIN STRUCTURE/CONTAINERS******************** */

* {
    border: 1px solid red;
    box-sizing: border-box;
    /* border-radius: 3px; */
}
/**/
body {
    display: flex;
    background-color: rgb(255, 255, 255);
    /* margin: 0; */
}

 nav {
    display: flex;
    justify-content: /* space-between */center;
    /**/
    width: 100vw;
    height: 70px;
    background-color: rgb(47, 54, 61);
 }

.column-wrapper {
    display: flex;
    /**/
    background-color: rgb(255, 255, 255);
    width: 100vw;
}

.left {
    display: flex;
    /* width: 33vh; */
    justify-content: center;
    align-items: center;

}

.left-main-container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /**/
    background-color: rgba(0, 0, 255, 0.119)/* rgb(250, 250, 250) */;
    
    height: 100px;
    width: 100px;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /**/
    /* background-color: rgb(37, 37, 37); */
    /* color: white; */

    background-color: rgba(0, 128, 0, 0.173)/* rgb(250, 250, 250) */;
    
    height: 100px;
    width: 100px;

}

 /* ********************INNER COMPONENTS/CONTAINERS/THINGS******************** */

.solution-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.primary-solution-display {
    border: 1px solid green;
}

/***Ted stuff ***/
.arrayContainer {
  position: relative;
  height: 300px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  border: 1px solid black;
  margin: 20px; 
}

.box {
  height: 100px;
  width: 100px;
  margin: 5px;
  display: inline-block;
  border: 1px solid black;
  transition: background-color 0.3s; 
}

.hover {
  background-color: yellow; 
}