
* {
border: 1px solid red;
}

body {

}

 nav {
  background-color: rgb(47, 54, 61);
  width: 100vh;
 }

.column-wrapper {
  /* display:  */
  background-color: rgb(255, 255, 255);
}

 .left {

 }

 .right {

 }