.arrayContainer {
  position: relative;
  height: 300px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  border: 1px solid black;
  margin: 20px; 

.box {
  height: 100px;
  width: 100px;
  margin: 5px;
  display: inline-block;
  border: 1px solid black;
  transition: background-color 0.3s; 
}

.hover {
  background-color: yellow; 
}